@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --brand-font-family: "Tangerine", cursive;
    --main-font-family: "Roboto", sans-serif;
}

:root.light {
    --primary-text-color: #273043;
    --brand-text-color: #000000;

    --nav-background-color: #fff0f3;
    --primary-background-color: #edf2f4;
    --secondary-background-color: #fae0e4;
    --pane-background-color: #fdffff;

    --accent-color: #ff758f;
}

:root.dark {
    --primary-text-color: lightgrey;
    --brand-text-color: #ffffff;

    --nav-background-color: #111111;
    --primary-background-color: #131316;
    --secondary-background-color: #26262c;
    --pane-background-color: #1c1c21;

    --accent-color: #ff8fa3;
}

body {
    font-family: var(--main-font-family);
    color: var(--primary-text-color);

    height: fit-content;
    background-color: var(--primary-background-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--nav-background-color);
    padding: 1.5rem 2rem;

    color: var(--accent-color);
}

.branding {
    display: flex;
    align-items: center;

    color: var(--brand-text-color);
}

.branding > svg {
    width: 2.5rem;
    height: 2.5rem;
    stroke: var(--accent-color);
}

.branding > p {
    font-family: var(--brand-font-family);
    font-weight: bold;
    font-size: 3rem;

    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 3px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 4rem;

    font-size: 0.9rem;
}

.controls > div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.filter-controls,
.sort-controls {
    background-color: var(--pane-background-color);
    padding: 0.2rem;
    border-radius: 5px;
}

.filter-controls > div,
.sort-controls > div {
    padding: 0.6rem 1rem;
    border-radius: 5px;

    flex-grow: 1;

    cursor: pointer;
}

.filter-controls > div:hover:not(.selected-filter):not(:first-child),
.sort-controls > div:hover:not(.selected-sort) {
    background-color: var(--secondary-background-color);
}

.filter-controls svg,
.sort-controls svg {
    width: 1rem;
    height: 1rem;
}

.selected-filter,
.selected-sort {
    background-color: var(--secondary-background-color);
}

.page-settings {
    display: flex;
    align-items: center;
}

.page-settings > svg {
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    height: 100%;
    padding: 2rem;
    background-color: var(--primary-background-color);
}

aside {
    background-color: var(--pane-background-color);
    border-radius: 5px;
    padding: 2rem;

    align-self: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form > p {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form > p > span:last-child {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    margin: 0.5rem 0;
}

.radio-group-label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5rem;
}

label {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

input:not([type="radio"]) {
    appearance: none;
    border: none;
    outline: none;

    font-size: 1rem;
    color: inherit;

    width: 300px;
    background-color: var(--secondary-background-color);
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    border-bottom: 3px solid var(--primary-text-color);
}

input:focus {
    border-bottom-color: var(--accent-color);
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    
    background-color: #fff;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;

    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";

    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--accent-color);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

main {
    flex-grow: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: minmax(min-content, 300px);
    gap: 1.5rem;
}

.book-item {
    background-color: var(--pane-background-color);
    padding: 2rem 1.5rem;
    border-radius: 10px;
    border-left: 8px solid var(--accent-color);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5;
}

.book-item > div:not(:last-child) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.book-item > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.book-item svg {
    width: 1.2rem;
    height: 1.2rem;
    stroke: var(--accent-color);
}

.item-lang,
.item-pages {
    background-color: var(--secondary-background-color);
    padding: 0.5rem 1rem;
    border-radius: 6rem;
    margin-top: 1rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button {
    font-family: inherit;
    font-size: 0.9rem;
    color: var(--accent-color);

    cursor: pointer;

    border: none;
    border-radius: 10px;
    background-color: var(--secondary-background-color);
    padding: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

button:hover {
    background-color: var(--accent-color);
    color: var(--brand-text-color);

    & svg {
        stroke: var(--brand-text-color);
    }
}
